@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*primary values*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   
--primary-Orange: hsl(26, 100%, 55%);
--primary-Orange-opacity: hsla(26, 100%, 55%, 0.678);
--primary-PaleOrange: hsl(25, 100%, 94%);
--Very-vark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--black: hsla(0, 0%, 0%, 0.75);
}
body{
    background: var(--White);
    margin: 1em;
    font-family: 'Kumbh Sans', sans-serif;
}
img{
    max-width: 100%;
}




/*header menu*/
.head{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}




/*navigation cart-icon*/


.notifi{
    width: 13px;
    height: 13px;
    background: var(--primary-Orange);
    border-radius: 50%;
    color: var(--White);
    position: absolute;
    left: 68%;
   
}
#notifi{
    text-align: center;
    font-size: 14px;
    margin-top: -1px;
}
.cart-icon{
    width: 100%;
    cursor: pointer;
}
.person{
    width: 50px;
    margin-right: 10px;
}
.hover{
    width: 240px;
    height: 180px;
    background: var(--White);
    position: absolute;
    left: 80px;
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    z-index: 10;
    display: none;
}
.color path{
    fill: var(--Very-vark-blue);
}
.show{
    display: block;
}
.text{
   font-weight: bold;
   color: var(--very-very-blue);
   margin-top: 5px;
   margin-left: 60px;
}
.your-text{
    text-align: center;
    margin-top: 30%;
    color: var(--Dark-grayish-blue);
    font-size: 14px;
}



/*navigation menu*/




.nav-background{
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black);
    z-index: 1;
    transform: translateX(-100%);
    transition: all 1.2s;
}

.close-icon{
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;

}
.nav{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100vh;
    background: var(--Light-grayish-blue);
    z-index: 10;
    transition: all 3s;

}
.active{
    transform: translateX(0);
}
.nav ul{
    list-style: none;
    margin: 50px 0px 0px 40px;
}
.nav ul li{
    margin: 20px 0px;
}
.nav a{
    text-decoration: none;
    color: var(--very-very-blue);
    font-weight: bold;
}

/*avatar image*/
.photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.photo:hover{
    border: 2px solid var(--primary-Orange);
}


/*change images*/

.images{
    width: 400px;
    margin: auto;
    border-radius: 10px;
}
.product{
    width: 375px;
    display: block;
    margin: auto;
}
.product-images{
    width: 300px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}



/*image-changer*/
.image-changer{
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 38%;
    margin-left: 25px;
    overflow: hidden;
}
.left-click{
    width: 40px;
    height: 40px;
    background: var(--White);
    border-radius: 50%;
    box-shadow: 0 0 -10px 5px rgba(0, 0, 0, 0.185);
    cursor: pointer;
}
.path{
    margin-top: 12px;
    margin-left: 14px;
}
.right-click{
    width: 40px;
    height: 40px;
    background: var(--White);
    border-radius: 50%;
    box-shadow: 0 0 -10px 5px rgba(0, 0, 0, 0.185);
    cursor: pointer;

}
.left-click:hover .path path{
    stroke: var(--primary-Orange);
}
.right-click:hover .path path{
    stroke: var(--primary-Orange);
}




/*company Name*/
.snaeaker{
    margin-left: 20px;
    margin-bottom: 10px;
    color: var(--primary-Orange);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}



/*para*/
.text{
    width: 300px;
    margin: auto;
    font-size: 15px;
}
.text h1{
    width: 240px;
    letter-spacing: 0;
    margin: 15px 0;
    color: var(--Very-vark-blue);
}
.para{
    color: var(--Dark-grayish-blue);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
}



/*price values*/
.number{
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.price{
    font-weight: bold;
    font-size: 16px;
    color: var(--Very-vark-blue);
 
}
.percentage{
    margin-left: 25px;
    color: var(--primary-Orange);
    font-weight: bold;
}
.offer{
    color: var(--Grayish-blue);
    margin-left: -80px;
    text-decoration: line-through;
}




/*increment buttons*/
.increment{
    width: 270px;
    display: block;
    margin: 10px auto;

}
input{
    text-align: center;
    width: 200px;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
}
.btn{
    border: none;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
}
.btn:hover .svg use{
    fill: var(--primary-Orange-opacity);
    
}



/*Add cart button*/
.add{
    width: 270px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    padding: 10px 80px;
    background: var(--primary-Orange);
    border: none;
    border-radius: 5px;
    color: var(--Light-grayish-blue);
    font-family: inherit;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
}
.cart:hover{
    background: var(--primary-Orange-opacity);
}
.white path{
    fill: var(--Light-grayish-blue);
}
.white{
    margin-right: 10px;
    font-size: 10px;

}




















.model{
    display: none;
    margin: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
#caption{
    position: absolute;
    top: 50px;
    left: 80%;
    color: saddlebrown;
    font-size: 40px;
    cursor: pointer;
}
#click{
    cursor: pointer;
}
.model-content{
    width: 300px;
    position: absolute;
    top: 30%;
    left: 30%;

}