
/*change images*/
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: auto;
}
.product-1{
    border-radius: 10px;
}
.thumb-img{
    display: none;
}
@media  screen and (min-width: 600px) {
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3.5rem;
        
    }
    .product-1{
        cursor: pointer;
    }
    .product{
        margin-right: 30px;
    }

/*small images*/
    .thumb-img{
     display: block;
     display: flex;
     margin-top: 14px;
     gap: 5px;
     margin-left: 10px;
    }
    .thumb-img img {
       cursor: pointer;
       border-radius: 4px;
    }
    .thumb-img img:hover{
        opacity: 0.5;
    }
  
    
}
@media screen  and (min-width:740px){

    .thumb-img img{
        border-radius: 10px;
    }
    .thumb-img{
        gap: 27px;
    }
    .a{
        width: 50px;
        height: 50px;    
    }
    .a:hover{
        border: 2px solid var(--primary-Orange);

    }
    .b{
        max-width: 50px;
        height: 50px;
        border-radius: 12px;
    }
    .b:hover{
        border: 2px solid var(--primary-Orange);

    }
    .c{
        width: 50px;
        height: 50px;
        border-radius: 12px;
    }
    .c:hover{
        border: 2px solid var(--primary-Orange);

    }
    .d{
        width: 50px;
        height: 50px;
        border-radius: 12px;
    }
    .d:hover{
        border: 2px solid var(--primary-Orange);

    }

}


