
/*change images*/
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.product-1{
    border-radius: 10px;
    max-width: 260px;
    margin: 0 auto;
    display: block;
}
.thumb-img{
    display: none;
    max-width: 700px;
}
.thumb-img img{
    border-radius: 12px;
}
@media  screen and (min-width: 600px) {
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4em;
        
    }
    .product-1{
        cursor: pointer;
    }
    .product{
        margin-right: 30px;
    }

/*small images*/
    .thumb-img{
     display: block;
     display: flex;
     margin-top: 14px;
     gap: 5px;
     margin-left: 10px;
    }
    .thumb-img img {
       cursor: pointer;
    }
    .thumb-img img:hover{
        opacity: 0.5;
    }
    .thum-border{
        border: 2px solid var(--primary-Orange);
    }
    .opacity{
        background: rgb(255, 255, 255);
        opacity: 0.4;
        
    }

    .a{
        width: 60px;
        height: 60px;
        border-radius: 12px;
        
    }
    .b{
        max-width: 60px;
        height: 60px;
        border-radius: 12px;
    }
    .c{
        width: 60px;
        height: 60px;
        border-radius: 12px;
    }
    .d{
        width: 60px;
        height: 60px;
        border-radius: 12px;
    }

    
}
@media screen  and (min-width:740px){

    .thumb-img img{
        border-radius: 10px;
    }
    .thumb-img{
        gap: 8px;
    }
  
}
@media screen and (min-width: 1300px){
    .product{
        margin-left: 200px;
    }
}


