
/*change images*/

.images{
    margin: auto;
}
.product{
    display: block;
    margin: auto;
}
.product-1{
    border-radius: 10px;
}
.product-images{
    max-width: 300px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
.thumb-img{
    display: none;
}
@media  screen and (min-width: 600px) {
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 80vh;
        margin: auto;
        
    }
    .product{
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        align-self: center;
    }
    .product-images{
        display: flex;
        margin: 0;
        align-self: center;
        justify-content: center;
    }
    .product-1{
        margin-right: 30px;
    }
    .thumb-img{
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
        margin-left: -15px;
    }
    .thumb-img img {
       border-radius: 10px;
       margin-right: 20px;
        

    };
}
@media  screen and (min-width:740px) {
    .images{
        width: 70%;
    }
    .product-images{
        width: 375px;
    }
    .thumb-img{
        width: 60px;
        height: 60px;
    }

}
