/*image-changer*/
.image-changer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 255px;
    margin: 0 auto;
    
}
.left-click{
    width: 40px;
    height: 40px;
    background: var(--White);
    border-radius: 50%;
    box-shadow: 0 0 -10px 5px rgba(0, 0, 0, 0.466);
    cursor: pointer;
    margin-top: -210px;
}
.path{
    margin-top: 12px;
    margin-left: 14px;
}
.right-click{
    width: 40px;
    height: 40px;
    background: var(--White);
    border-radius: 50%;
    box-shadow: 0 0 -10px 5px rgba(0, 0, 0, 0.452);
    cursor: pointer;
    margin-top: -210px;

}
.left-click:hover .path path{
    stroke: var(--primary-Orange);
}
.right-click:hover .path path{
    stroke: var(--primary-Orange);
}


@media screen and (min-width:600px){
    .image-changer{
        top: 50%;
        left: 160px;
        display: none;
        margin-left: 0;
    }
}