/*image-changer*/
.image-changer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 38%;
    
}
.left-click{
    width: 40px;
    height: 40px;
    background: var(--White);
    border-radius: 50%;
    box-shadow: 0 0 -10px 5px rgba(0, 0, 0, 0.267);
    cursor: pointer;
    margin-left: 30px;
}
.path{
    margin-top: 12px;
    margin-left: 14px;
}
.right-click{
    width: 40px;
    height: 40px;
    background: var(--White);
    border-radius: 50%;
    box-shadow: 0 0 -10px 5px rgba(0, 0, 0, 0.247);
    cursor: pointer;
    margin-left: 200px;

}
.left-click:hover .path path{
    stroke: var(--primary-Orange);
}
.right-click:hover .path path{
    stroke: var(--primary-Orange);
}

@media screen and (min-width:600px){
    .image-changer{
        top: 55%;
        left: 160px;
        display: none;
        margin-left: 0;
    }
    .right-click{
        margin-left: 0px;
    }
    .left-click{
        margin-right: 260px;
    }
}