/*navigation menu*/




.nav-background{
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black);
    z-index: 1;
    transform: translateX(-100%);
    transition: all 1.2s;
}

.close-icon{
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;

}
.nav{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100vh;
    background: var(--Light-grayish-blue);
    z-index: 10;
    transition: all 3s;

}
.active{
    transform: translateX(0);
}
.nav ul{
    list-style: none;
    margin: 50px 0px 0px 40px;
}
.nav ul li{
    margin: 20px 0px;
}
.nav a{
    text-decoration: none;
    color: var(--very-very-blue);
    font-weight: bold;
}

@media  screen and (min-width:600px) and (max-width: 1440px) {
    .nav-background{
        position: relative;
        left: 0;
        top: 0;
        height: 0;
        transform: translateX(0);
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close-icon{
        display: none;
    }
    .nav{
        width: 0;
        height: 0;
        position: relative;
        top: 0;
        left: 0;
        background: transparent;
        display: flex;
        justify-content: space-between;
    }
    .nav ul{
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
     
    }
   .nav ul li{
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
      
    }
    .nav a{
        color: var(--Dark-grayish-blue);
        font-weight: normal;
        text-transform: capitalize;
        position: relative;  
        font-size: 14px; 
    }
    .nav a::after{
        content: '';
        height: 4px;
        width: 0;
        background: var(--primary-Orange);
        position: absolute;
        left: 0;
        bottom: -22px;
        transition: width 0.3s;
    }
    .nav a:hover::after{
        width: 100%;

    }
    .nav a:hover{
        color: var(--very-very-blue);
    }
    
}
@media screen and (min-width: 740px){
    .nav a{
        font-size: 16px;
    }
    
}