


/*Add cart button*/
.add{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    padding: 0.6em 4.5em;
    background: var(--primary-Orange);
    border: none;
    border-radius: 5px;
    color: var(--Light-grayish-blue);
    font-family: inherit;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
}
.cart:hover{
    background: var(--primary-Orange-opacity);
}
.white path{
    fill: var(--Light-grayish-blue);
}
.white{
    margin-right: 10px;
    font-size: 10px;

}

/*check out*/

.btn-check{
    padding: 1em 6em;
    background: var(--primary-Orange);
    border: 0;
    border-radius: 8px;
    font-family: inherit;
    color: var(--White);
    font-weight: bold;
    cursor: pointer;
}
.btn-check:hover{
    background: var(--primary-Orange-opacity);
}
@media screen and (min-width: 600px){
  .cart{
      padding: .6em 1.5em;
      
  }
}
@media screen and (min-width: 768px){
  .cart{
      padding: 0.6em 2.6em;
  }
}